h1{
  color: blue;
}
h2{
  color: green;
}
h1{
  color: blue;
}
u{
color: red;
}
.link{
  hover:red;
}
.hover{
  speed:2s
}
.body{
  color: green;
  }
  li{
    color: green;
  }
  .intro{
    color: green;
  }
